button {
    margin-top : 50px;
    margin-bottom: 50px;
}
  
.alert {
    display: none;
    margin-top : 30px !important;
}
  
@media (max-width: 1000px) {

    canvas {
        display: none;
    }

    .alert {
        display: inline-block;
    }

}

canvas {
    background-color: white;
    border: 1px black solid;
    margin-top : 50px;
}